.custom-blue-dark {
    background-color: #3D5A80;
    color: #FFFFFF;
}
.custom-blue-light {
    background-color: #98C1D9;
    color: #FFFFFF;
}
.custom-orange {
    background-color: #EE6C4D;
    color: #FFFFFF;
}
.custom-white {
    background-color: #FFFFFF;
    color: #293241;
}
.custom-blue {
    background-color: #293241;
    color: #FFFFFF;
}